/* v1.1

/* root settings */

:root {
	/* column widths */
	--widthContent: 1050px;

	/* general page and text colours */
	--colorBackground: #191713;
	--colorText: #cec8bf;

	/* accent colours */
	--colorPrimary: #dbb281;
	--colorSecondary: #9598bb;
	--colorTertiary: #aa4c3d;

	/* fonts */
	--fontText: 'El Messiri', serif;
	--fontTitle: 'Abril Fatface', serif; /*'Bigshot One', serif;*/

	/* borders */

	/* gallery settings */
	--columnCount: 2;
	--columnGap: 20px;

	/* background image FOR ALL PAGES */
	--imageBackground: url("../img/art/wreck.jpg");
	--galleryBackground: url("../img/art/blizzard.jpg");
}


/* global site structure */

* {
	box-sizing: border-box;
}

body {
	background-color: var(--colorBackground);
	background-image: var(--imageBackground);
	background-size: cover;
	background-attachment: fixed;

	color: var(--colorText);
	font-family: var(--fontText);
	line-height: 1.5em;
}

h1 {
	color: var(--colorPrimary);
	font-family: var(--fontTitle);
	font-weight: bold;
	text-transform: lowercase;

	font-style: italic; 
	margin-block: 0 .4em;
	
	font-size: 600%;
	line-height: 0.6em;
	letter-spacing: -0.03em;
	max-width: 750px;

	text-shadow: 4px 0px var(--colorBackground);
}

.home {
	display:inline;
	float:right;
	font-size: 300%;
	text-decoration: none;
	text-shadow: 3px 3px var(--colorBackground);
}

a {
	color: var(--colorSecondary);
	font-weight: bold;
	transition: all .5s;
}
p a::after {
	content: "⤴";
	display: inline-block;
	font-size: .75em;
}
a:hover{
	color: var(--colorTertiary);
}


hr {
	color: var(--colorPrimary);
	background-color: var(--colorPrimary);
	height: 1px;
	border: none;
}

/* gallery */

.gallery {
	/* Prevent vertical gaps */
	line-height: 0;

	-webkit-column-count: var(--columnCount);
	-webkit-column-gap:   var(--columnGap);
	-moz-column-count:    var(--columnCount);
	-moz-column-gap:      var(--columnGap);
	column-count:         var(--columnCount);
	column-gap:           var(--columnGap);
}

.gallery div, .gallery img {
	/* Just in case there are inline attributes */
	width: 100% !important;
	height: auto !important;
	margin-bottom: var(--columnGap);
	transition: all 0.5s;
}

img {
	border: 3px double var(--colorPrimary);
	transition: all .5s;
}

img:hover {
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}

@keyframes rotateAnimationSmall {
    0% {
        transform: perspective(3000px) rotateY(-10deg) rotateZ(1deg);
    }
    50% {
        transform: perspective(3000px) rotateY(10deg)  rotateZ(-1deg);
    }  
    100% {
        transform: perspective(3000px) rotateY(-10deg)  rotateZ(1deg);
    }
}

img.png {
	box-shadow: none;
	border: none;
}

img.png:hover {
	box-shadow: none;
	border: none;
}

.gallery img:hover {
	filter: brightness(1.2);
	border-color: var(--colorTertiary);
	box-shadow: none;
}

.page {
	max-width: var(--widthContent);
	margin: auto;

	background-image: var(--galleryBackground);
	
	background-size: cover;
	background-attachment: fixed;
	border: 3px double var(--colorPrimary) ;
	padding: 3em;
	margin-top: 3em;
	margin-bottom: 3em;
}


/* mobile */

@media screen and (max-width: 750px) {
	:root {
		/* gallery settings */
		--columnCount: 1;
	}

	h1 {
		font-size: 300%;
		line-height: 0.6em;
	}

	.home {
		display:relative;
		float:right;
		font-size: 200%;
	}

	.page {
		padding: 1.5em;
	}
}
