/* v1.1

/* root settings */

:root {
	/* general page and text colours */
	--colorBackground: #191713;
	--colorText: #e6d4c5;

	/* accent colours */
	--colorPrimary: #e3ba8b;
	--colorSecondary: #ba591d;

	/* fonts */
	--fontTitle: 'Forum', serif;
	--fontBody: 'EB Garamond', serif;
	--fontHeader: 'Forum', serif; /*'Bigshot One', serif;*/

	/* background image FOR ALL PAGES */
	--imageBackground: url("../img/art/mountain.jpg");
}


/* global site structure */

* {
	box-sizing: border-box;
}

body {
	background-color: var(--colorBackground);
	background-image: var(--imageBackground);
	background-size: cover;
	background-attachment: fixed;
    background-position: center;

	color: var(--colorText);
	font-family: var(--fontBody);
    font-size: 1rem;
}

*::selection {
    background-color: var(--colorText);
    color: var(--colorBackground);
}

.page {
	max-width: 420px;
	margin-inline: auto;
    margin-block: 7rem;
    margin-bottom: 3rem;
    padding-inline: 1rem;
}

img {
    border: 1px solid var(--colorPrimary);
    transition: all .25s;
}

img:hover {
    filter: brightness(1.2);
    border-color: var(--colorSecondary);
}

.home {
	display: inline-block;
    /* --icon-size: 37px;
    height: var(--icon-size);
    width: var(--icon-size);
    text-align: center;
    padding-top: .2rem;
    border: 1px solid var(--colorPrimary);
    border-radius: 100px; */

	color: var(--colorPrimary);
	font-size: 130%;

	margin-top: 1rem;

	transition: all .25s;
}

.home:hover {
	color: var(--colorSecondary);
	border-color: var(--colorSecondary);
}


h1 {
	font-family: var(--fontBody);
    color: var(--colorPrimary);
	text-transform: lowercase;
	font-size: 2.5rem;
	font-style: italic;
    text-decoration: underline dashed 2px;

    margin: 0;
}

.buttons {
    
}