/* v1.1

/* root settings */

:root {
	/* general page and text colours */
	--colorBackground: #191713;
	--colorText: #e1cdb2;

	/* accent colours */
	--colorPrimary: #d5a66c;
	--colorSecondary: #c48360;
	--colorTertiary: #7a6e39;

    /* border */
    --borderPrimary: 1px solid var(--colorPrimary);
    --borderTertiary: 1px solid var(--colorTertiary);

	/* fonts */
	--fontTitle: 'Forum', serif;
	--fontBody: 'EB Garamond', serif;
	--fontHeader: 'Forum', serif; /*'Bigshot One', serif;*/

	/* background image FOR ALL PAGES */
	--imageBackground: url("../img/art/moonlit2.jpg");
}


/* global site structure */

* {
	box-sizing: border-box;
}

body {
	background-color: var(--colorBackground);
	background-image: var(--imageBackground);
	background-size: cover;
	background-attachment: fixed;

	color: var(--colorText);
	font-family: var(--fontBody);
    font-size: 1rem;

}

.page {
	max-width: 800px;
	margin-inline: auto;
    margin-block: 7rem;
    margin-bottom: 3rem;
    padding-inline: 2rem;
}

hr {
    height: 1px;
    /* width: 50%; */

    border: none;
    color: var(--colorPrimary);
    background-color: var(--colorPrimary);

    margin-block: 1rem;
}

img {
    border: var(--borderTertiary);
    transition: filter .25s;
}

img:hover {
    filter: brightness(1.2);
    border-color: var(--colorSecondary);
}

a {
	color: var(--colorPrimary);
    transition: color .25s;
}

a:hover{
    color: var(--colorTertiary);
}


h1.logo {
	font-family: var(--fontBody);
	text-transform: lowercase;
	font-size: 2.5rem;
	font-style: italic;

    margin: 0;
}

.banner {
    margin-block: 1.2rem;
}


/* ------- */
/* WIDGETS */
/* ------- */

.widgets {
    /* padding-inline: 1rem; */
    margin-block: 1.5rem;
    
    /* border: var(--borderTertiary); */
    text-align: left;
}

.widgets p {
    /* font-size: 1rem; */
}

.buttons {
    margin-block: .5rem;
    /* line-height: 0; */
}



/* -------- */
/* NAV MENU */
/* -------- */

ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;

    font-size: 120%;
}

ul.menu > li {
    display: inline-block;
    text-align:center;

    margin-right: 1rem;
}

ul.menu > li > a {
	font-family: var(--fontBody);
	text-decoration: none;
}

ul.menu > li > a:hover {
    text-decoration: underline;
}



/* ----- */
/* ICONS */
/* ----- */

ul.icons {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.icons > li {
    display: inline-block;
    text-align:center;

    margin-right: .2rem;
}

ul.icons > li > a {
	font-family: var(--fontBody);
	text-decoration: none;

    border: var(--borderPrimary);
    font-size: 1rem;

    border-radius: 100rem;
    padding: .18rem;
    
    transition: all .25s;
}

ul.icons > li > a > i.fa {
    width: 1.35rem;
}

ul.icons > li > a:hover {
    border-color: var(--colorTertiary);
}



/* ------- */
/* CREDITS */
/* ------- */


details > summary {
    list-style-type: none;
	cursor: help;
    color: var(--colorPrimary);
    
    transition: color .25s;
}

details > summary:hover {
    color: var(--colorSecondary);
}

details > summary::after {
    content: '⤵';
	margin-left: .25em;
}

details[open] > summary::after {
    content: '⤴';
}

details[open] > summary {
    margin-bottom: 0.5em;
}

details {
    margin-block: 1rem;
    text-transform: lowercase;
}

details ul {
    list-style-type: circle;
    padding-left: 1.5rem;
}

details > div {
    border-left: 1px dotted var(--colorText);
    padding-left: .8rem;
}


/* ---------- */
/* RESPONSIVE */
/* ---------- */

.row {
	/* border: 1px solid blue; */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
    float: left;
    /* padding: 15px; */
    /* border: 1px dashed green; */
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .widgets {
        margin-block: 0rem 0;
        text-align: center;
    }

    hr {
        width: 50%;
    }
} 