/* v1.1

/* root settings */

:root {
	--widthContent: 900px;

	--colorBackground: #d4cfbf;
	--colorText: #2d3338;

	--colorPrimary: #5D676E;
	--colorSecondary: #73522d;
	--colorTertiary: #a89f87;


	/* dark mode */

	--colorBackground: #1d1f24;
	--colorText: #ddd8c8;

	--colorPrimary: #8296a9;
	--colorSecondary: #b18552;
	--colorTertiary: #434449;


	--fontTitle: "Chonburi", serif;
	/* --fontText: 'Source Sans 3', serif; */
	--fontText: 'EB Garamond', serif;
	
	--imageBackground: url(../img/art/coast.png);
	--imageFrame: url(../img/frame2.png);
}


/* global site structure */

* {
	box-sizing: border-box;
}

body {
	background-color: var(--colorBackground);
	background-image: var(--imageBackground);
	background-size: cover;
	background-attachment: fixed;

	color: var(--colorText);
	font-family: var(--fontText);
}

b {
	color: var(--colorSecondary);
}

i, em {
	/* color: var(--colorPrimary); */
}

a {
	color: var(--colorSecondary);
	text-decoration: none;
	font-weight: bold;

	text-decoration: underline;
}

a:hover {
	color: var(--colorPrimary);
}

a::after {
	content: "\2197";
	display: inline-block;
}

hr {
	border: none;
	height: 1px;
	color: var(--colorTertiary);  /* old IE */
	background-color: var(--colorTertiary);  /* Modern Browsers */
	margin: 2em 2em;
}



.page {
	font-size: 1.1em;
	line-height: 1.3em;

	max-width: var(--widthContent);

	background-color: var(--colorBackground);

	margin-inline: 8% 0;
	margin-block: 6em;
	padding: 4em;
	padding-left: 9.5em;

	background-image: var(--imageFrame);
	background-repeat: repeat-y;
	background-size: 120px;

	border-radius: 0 200px 0 0;
}



.title {
	margin-bottom: 2em;
}

.date {
	font-style: italic;
}

.date::after {
	content: "•";
	margin-left: 0.5em;
	margin-right: 0.4em;
}

.title_list {
	margin-bottom: 0.3em;
}

.title_list > a {
	font-weight: normal;
	font-size: 85%;
	line-height: 0em;
	letter-spacing: -.025em;
	/* text-decoration: none; */
}

.title_list > a::after {
	content:none;
}

.hr_list {
	margin-block: 1.5em;
	margin-inline: 0;
}

.tags_list {
	margin: 0em;
}

.h1_list {
	margin-bottom: 0.4em;
	font-size: 600%;
}

.div_navigation {
	display: inline;
}
.ul_navigation {
	margin: 0;
	padding: 0;
}
.ul_navigation li {
	display: inline;
	margin-right: 10px;
}
.ul_navigation li a {
	color: var(--colorBackground);
	background-color: var(--colorSecondary);
	border-radius: 1000px;
	padding: 1px 10px;

	text-decoration: none;
}
.ul_navigation li a:hover {
	/* color: var(--colorText); */
	background-color: var(--colorPrimary);
}
.ul_navigation li a::after {
	content: "\2197";
	display: inline-block;
	margin-left: 2px;
}





h1, h2, h3, h4, h5, h6 {
	font-family: var(--fontTitle);
	color: var(--colorPrimary);
	line-height: 1.15em;
	
}

h1 {
	font-size: 250%;
	line-height: 3rem;
	letter-spacing: -0.05em;
	margin-bottom: 0
}



.tags {
	margin: 1em 0em;
}

.date {
	display: inline;
}

.tag {
	display: inline;
	background-color: var(--colorTertiary);
	padding-inline: 0.5em;
	padding-block: 0em .1em;
	border-radius: 1000px;
	font-size: 0.85em;
	
	/* font-weight: bold; */
	/* color: var(--colorBackground); */
	
	position: relative;
	top: -1px;
}


#new::before {
	content: url('../img/new.gif');

	position: relative;
	top: -2px;

	margin-right: .2em;
	/* content: "sdfjhsdfj"; */
}



/* imgs */

.text img {
	display: block;
	margin: 1.5em auto;

	box-shadow: 4px 4px var(--colorSecondary);
	border: 1px solid var(--colorSecondary);
	transition: all .25s;

	max-height:450px;
	/* max-width:550px; */
	
	max-width:85%;
}

.text img:hover {
	box-shadow: 4px 4px var(--colorTertiary);
	border-color: var(--colorTertiary);
	filter: brightness(1.2);
}

.img_grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	margin-block: 1.5em;
}

.img_grid > img {
	margin-inline: .4rem;
	margin-block: .4rem;
}

img.img_half {
	max-width: 45%;
} 

img.img_third {
	max-width: 30%;
} 


/* spoiler tags */

details > summary {
	font-weight: bold;
    list-style-type: none;
	color: var(--colorBackground);
	cursor: pointer;

	background-color: var(--colorSecondary);
	padding-inline: .5em;
	padding-block: .1em .1em;

	margin-bottom: 0;
	border-radius: 5px;
}

details > summary::before {
    content: '⋆';
	margin-right: .4em;
	color: var(--colorBackground);
}

details > summary::after {
    content: 'show';
	margin-left: .6em;

	position: relative;
	top: -2px;

	text-transform: uppercase;
	font-size: 70%;

	background-color: var(--colorBackground);
	color: var(--colorSecondary);

	padding-block: 0 0.1em;
	padding-inline: .4em;

	border-radius: .9em;
}

details[open] > summary::after {
    content: 'hide';
	color: var(--colorPrimary);
	/* background-color: var(--colorText);
	color: var(--colorBackground); */
}

details[open] > summary {
    margin-bottom: 0em;
	background-color: var(--colorPrimary);
	
}

details > p {
	margin-block: 0.5em;
}

details > div {
	border-left: 1px solid var(--colorPrimary);
	padding-left: .75em;
	margin-left: 2px;

	position: relative;
	top: -.4rem;
}


/* mobile */

@media screen and (max-width: 800px) {
	.img_grid {
		flex-direction: row;
	}

	img.img_half {
		max-width: 85%;
	} 

	img.img_third {
		max-width: 55%;
	} 
}


@media screen and (max-width: 700px) {
	.page {
		border-radius: 0 70px 0 0;

		margin: .5em;
		padding: 2em 1em;
		background-size: 50px;
		padding-left: 4em;
	}
	h1 {
		font-size: 200%;
		line-height: 35px;
	}
	.div_navigation {
		display: block;
	}
	.ul_navigation li {
		display: block;
		margin-bottom: 10px;
	}
	

	.h1_list {
		font-size: 300%;
	}
}
