/* v1.1

/* root settings */

:root {
	/* column widths */
	--widthSidebar: 275px;
	--widthContent: 650px;

	/* general page and text colours */
	--colorBackground: #ddbb94;
	--colorPrimary: #5E4B3C;
	--colorSecondary: #d2ae82;

	/* fonts */
	--fontTitle: "Gloock", serif;
	--fontText: "Montserrat", serif;

	/* background image FOR ALL PAGES */
	--imageBackground: url(../img/art/brook.jpg);
}


/* global site structure */

* {
	box-sizing: border-box;
}

body {
	background-image: var(--imageBackground);
	background-size: cover;
	background-attachment: fixed;

	color: var(--colorPrimary);
	font-family: var(--fontText);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--colorPrimary);
	font-family: var(--fontText);
	margin-bottom: 0;
}

h1 {
	font-family: var(--fontTitle);
	color: var(--colorBackground);
	font-weight: normal;
	font-size: 100px;
	line-height: 55px;
	font-style: italic;
	margin: 0;
}

h3 {
	font-size: 30px;
}

.page {
	max-width: var(--widthContent);
	padding: 1em;
	margin-top: 15em;
	margin-left: 10%;
}

#HCB_comment_box {
	padding: 2em;
	background-color: var(--colorBackground);
}

/* boxes */
#hcb_form_website, #hcb_form_name, #hcb_form_content {
	font-family: "montserrat";
	font-size: 14px;
	padding: 8px;
	margin: 0;

	background-color: var(--colorSecondary);
	border: 1px solid var(--colorPrimary);
	border-radius: 3px;
	color: var(--colorPrimary);
	
	resize: vertical;
}

.admin-link a::after {
	content: none;
} 



a {
	font-weight: bold;
	color: var(--colorPrimary);

	transition: all .2s;
}

a::after {
	content: "⤴";
	content: "\2924";
	display: inline-block;
}

/* home button */

.home {
	font-size: 250%;
	float: right;
	/* position: relative; */
	text-decoration: none;
	line-height: normal;

	/* transform: translateY(70px); */

	text-decoration: none;
	line-height: normal;
	text-align: right;
	color: var(--colorBackground);
} 

.home:hover {
	color: var(--colorPrimary)
}

.home::after {
	content: none;
}






/* mobile */

@media screen and (max-width: 800px) {
	.page {
		max-width: 100%;
		padding: 1em;
		margin-top: 15em;
		margin-left: 0;
	}

	h1 {
		font-size: 50px;
		line-height: 25px;
	}

	.home {
		margin-top: -15px;
		font-size: 200%;
		/* transform: translateY(-15px); */
	}
}
