/* v1.1

/* root settings */

:root {
	--widthPage: 900px;
	--widthSidebar: 200px;

	--colorBackground: #b8ad8b;
	--colorText: #211b13;

	--colorPrimary: #917027;
	--colorSecondary: #566126;
	--colorTertiary: #a89f87;


	/* dark mode */

	/* --colorBackground: #211b13;
	--colorText: #d4cebb;

	--colorPrimary: #766b2f;
	--colorSecondary: #b48052;
	--colorTertiary: #434449; */


	--fontTitle: "Xanh Mono", serif;
	/* --fontText: 'Source Sans 3', serif; */
	--fontText: 'Gentium Book Plus', serif;
	--fontText: 'Xanh Mono', serif;
	
	--imageBackground: url(../img/art/bathing.jpg);
	--imageFrame: url(../img/frame2.png);
	--imageOcean: url(../img/textures/ocean.png);
	--imageFrameBorder: url(../img/textures/tumblr_6ddf9e5e8e60d6e516d1c419baa43f97_89bee275_500.png);
	--imagePage: url(../img/textures/BookOpen0097_2_download600.png);

	
	--height: 90vh;
	--width: 600px;
	--margin-top: 30px;
}


/* global site structure */

* {
	box-sizing: border-box;
}

*::selection {
    background-color: var(--colorText);
    color: var(--colorBackground);
}

body {
	background-color: var(--colorBackground);
	background-image: var(--imageBackground);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	color: var(--colorText);
	font-family: var(--fontText);
	line-height: 130%;
	margin: 0;
	padding: 0;
}

body.post {
	background: none;
	/* background: var(--colorBackground); */
	/* background: var(--imageOcean); */
	/* background-image: var(--imageBackground); */
	/* background-size: cover; */
	/* background-attachment: fixed; */
	/* background-position: center; */

	color: var(--colorText);
	font-family: var(--fontText);

	padding: 8px 20px;
	/* margin: 0; */
	/* padding: 0; */
}

b {
	color: var(--colorPrimary);
}

a {
	color: var(--colorSecondary);
	text-decoration: none;
	font-weight: bold;

	text-decoration: underline 1px;
	padding-inline: 1px;
	border-radius: 2px;
	transition: all .15s
}

a:hover {
	color: var(--colorBackground);
	background-color: var(--colorPrimary);
}

a.outbound::after {
	content: "\279A";
	display: inline-block;
}

hr {
	border: none;
	height: 1px;
	color: var(--colorTertiary);  /* old IE */
	background-color: var(--colorTertiary);  /* Modern Browsers */
	margin-block: 2rem;
}

.page {
	width: var(--widthPage);
	margin-inline: auto;
	position: relative;
}


h1, h2, h3, h4, h5, h6 {
	font-family: var(--fontTitle);
	color: var(--colorPrimary);
}

h1 {
	font-size: 180%;
	line-height: 2.2rem;
	margin-bottom: 0
}

.tag {
	display: inline;
	background-color: var(--colorTertiary);
	padding-inline: 4px;
	font-size: 0.75rem;

	margin-right: 2px;
	border-radius: 6px;
}

.title p{
	margin: 0;
}

#new::before {
	content: url('../img/new.gif');
	position: relative;
	top: -2px;
	margin-right: .2em;
}

.text p {
	/* text-align: justify; */
	text-transform: lowercase;
}


/* imgs */

img {
	border-radius: 0 6px 0 6px;
	filter: brightness(1) grayscale(.5);
}

.text img {
	display: block;
	margin: 1.5em auto;

	box-shadow: 4px 4px var(--colorSecondary);
	border: 1px solid var(--colorSecondary);
	transition: all .25s;

	max-height:450px;
	
	max-width:85%;
}

.text img:hover {
	box-shadow: 4px 4px var(--colorTertiary);
	border-color: var(--colorTertiary);
	filter: brightness(1.1) grayscale(0);
}

.img_grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	margin-block: 1.5em;
}

.img_grid > img {
	margin-inline: .4rem;
	margin-block: .4rem;
}

img.img_half {
	max-width: 45%;
} 

img.img_third {
	max-width: 30%;
} 


/* spoiler tags */

details > summary {
	font-weight: bold;
    list-style-type: none;
	color: var(--colorBackground);
	cursor: pointer;

	background-color: var(--colorSecondary);
	padding-inline: .5em;
	padding-block: .1em .1em;

	margin-bottom: 0;
	border-radius: 5px;

	transition: all .15s;
}

details > summary::before {
    content: '⋆';
	margin-right: .4em;
	color: var(--colorBackground);
}

details > summary::after {
    content: 'show';
	margin-left: .6em;

	position: relative;
	top: -2px;

	text-transform: uppercase;
	font-size: 70%;

	background-color: var(--colorBackground);
	color: var(--colorSecondary);

	padding-block: 0 0.1em;
	padding-inline: .4em;

	border-radius: .9em;

	transition: all .15s;
}

details > summary:hover {
	background-color: var(--colorTertiary);
}

details > summary:hover::after {
	color: var(--colorTertiary);
}

details[open] > summary::after {
    content: 'hide';
	color: var(--colorPrimary);
}

details[open] > summary {
    margin-bottom: 0em;
	background-color: var(--colorPrimary);
	
}

details > p {
	margin-block: 0.5em;
}

details > div {
	border-left: 1px solid var(--colorPrimary);
	padding-left: .75em;
	margin-left: 2px;

	position: relative;
	top: -.4rem;
}


/* FLEX */

.flex-container {
}

.sidebar {
	background: var(--colorBackground);
	border: 1px solid var(--colorSecondary);
	width: var(--widthSidebar);
}

.content {
	/* border: none; */
	margin: 0;
	padding: 0; 
	height: 500px;
	width: 314px;
	/* background: var(--colorBackground); */

	position: relative;
	/* left: var(--widthSidebar); */
	top: 28px;
	left: 154px
}

.blog-container {
	height: 700px;
	width: 540px;
	background: var(--imageFrameBorder);
	background-repeat: round;
	position: absolute;
	top: 0;
	left: var(--widthSidebar);
	/* box-shadow: 6px 6px 0 0 black; */
}

iframe {
	background-color: var(--colorBackground);
	border: 3px double var(--colorPrimary);
}

/* mobile */

@media screen and (max-width: 500px) {
	.img_grid {
		flex-direction: row;
	}

	img.img_half {
		max-width: 85%;
	} 

	img.img_third {
		max-width: 55%;
	} 
}


@media screen and (max-width: 700px) {
}
