/* v1.1

/* root settings */

:root {
	/* general page and text colours */
	--colorBackground: #191713;
	--colorText: #e1cdb2;

	/* accent colours */
	--colorPrimary: #d5a66c;
	--colorSecondary: #c48360;
	--colorTertiary: #7a6e39;

    /* border */
    --borderPrimary: 1px solid var(--colorPrimary);
    --borderTertiary: 1px solid var(--colorPrimary);

	/* fonts */
	--fontTitle: 'Xanh Mono', serif;
	--fontBody: 'Xanh Mono', serif;

	/* background image FOR ALL PAGES */
	--imageBackground: url("../img/art/moonlit2.jpg");
    --imageFrameBorder: url(../img/textures/PaintingFrames0014_download600.png);

}


/* global site structure */

* {
	box-sizing: border-box;
}

body {
	background-color: var(--colorBackground);
	background-image: var(--imageBackground);
	background-size: cover;
	background-attachment: fixed;

	color: var(--colorText);
	font-family: var(--fontBody);
    font-size: 1rem;

}

*::selection {
    background-color: var(--colorText);
    color: var(--colorBackground);
}

.page {
	max-width: 800px;
	margin-inline: auto;
    margin-block: 7rem;
    margin-bottom: 3rem;
    padding-inline: 2rem;
}

hr {
    height: 1px;
    /* width: 10%; */

    border: none;
    color: var(--colorPrimary);
    background-color: var(--colorPrimary);

    margin-block: 2.5rem;
}

img {
    border: var(--borderTertiary);
    transition: filter .25s;
}

img:hover {
    filter: brightness(1.2);
    border-color: var(--colorSecondary);
}

a {
	color: var(--colorPrimary);
    transition: all .15s;
    text-decoration: none;
}

a:hover{
    /* color: var(--colorTertiary); */
    text-decoration: underline;
    background-color: var(--colorTertiary);
    color: var(--colorBackground);
}


h1.logo {
	font-family: var(--fontTitle);
	text-transform: lowercase;
	font-size: 2.1rem;
	/* font-style: italic; */

    margin: 0;
}

.banner img {
    border: 30px solid black;
	border-image-source: var(--imageFrameBorder);
	border-image-slice: 10%;

    filter: drop-shadow(2px 2px 20px var(--colorBackground));
}


/* ------- */
/* WIDGETS */
/* ------- */

.widgets {
    padding-inline: 0rem;
    /* padding-block: .5rem;  */
    margin-block: 1rem;
    
    /* border: var(--borderTertiary); */
    text-align: left;

    /* border: 1px solid var(--colorTertiary); */
}

.widgets p {
    /* font-size: 1rem; */
}

.buttons {
    /* margin-block: .5rem; */
    /* line-height: 0; */
}



/* -------- */
/* NAV MENU */
/* -------- */

ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;

    font-size: 110%;
    margin-bottom: 1rem;
}

ul.menu > li {
    display: inline-block;
    /* text-align:center; */

    margin-right: .2rem;
}

ul.menu > li > a {
	font-family: var(--fontBody);
	text-decoration: none;
}

ul.menu > li > a:hover {
    text-decoration: underline;
}



/* ----- */
/* ICONS */
/* ----- */

ul.icons {
	list-style: none;
	margin: 0;
	padding: 0;
    margin-top: .75rem;
}

ul.icons > li {
    display: inline-block;
    text-align:center;

    margin-right: .2rem;
}

ul.icons > li > a {
    display: inline-block;

    border: var(--borderPrimary);
    font-size: 1rem;

    --icon-size: 30px;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 100rem;
    
    transition: all .25s;
}

ul.icons > li > a > i {
    padding-top: .35rem;
}

ul.icons > li > a:hover {
    border-color: var(--colorTertiary);
}



/* ------- */
/* CREDITS */
/* ------- */


details > summary {
    list-style-type: none;
	cursor: pointer;
    color: var(--colorPrimary);

    transition: all .25s;
    display: inline-block;
}

details > summary::after {
    content: '[show]';
    display: inline-block;
    color: var(--colorPrimary);

    font-size: 70%;
    /* padding-inline: .3em; */
	margin-left: .4em;

    position: relative;
    top: -1px;
    
    transition: all .25s;
}

details > summary::before {
    content: '✽';
    display: inline-block;
    margin-right: .3rem;
    font-size: 75%;
}

details[open] > summary {
    text-decoration: underline;
}

details[open] > summary::after {
    content: '[hide]';
}

details > summary:hover {
    color: var(--colorBackground);
    background-color: var(--colorTertiary);
}
details > summary:hover::after {
    color: var(--colorBackground);
}

details[open] > summary {
    margin-bottom: 0em;
}

details {
    text-transform: lowercase;
    margin-top: .5rem;
}

details ul {
    list-style-type: circle;
    padding-left: 10px;
    list-style-type: "•";
    margin: 0;
}

details > div {
    border-left: 1px dotted var(--colorText);
    padding-left: .8rem;
    margin-left: 4px;
    
    position: relative;
    top: -6px;

}

details p {
    margin-bottom: 5px;

}

details li {
    padding-left: 3px;

}



#new::before {
	content: url('../img/new.gif');

	position: relative;
	top: 1px;

	margin-right: .3rem;
}

#new a::after,
details > div a::after {
    content: "\279A";
    display: inline-block;
}

h3 {
    font-style: italic;
    margin-top: 0;
}

.changelog {
    text-align: left;
    border: var(--borderTertiary);
    padding: .6rem;
    padding-block: 0;
    margin-block: 1rem;
    height: 120px;
    overflow: auto;
    font-size: 90%;
    /* width: 90%; */
    margin-inline: auto;

}

.changelog > p {
    margin-block: .5rem;
}

.changelog i {
    display: block;
}

.changelog i::after {
    content: "—";
    margin-left: .2rem;
}


/* ---------- */
/* RESPONSIVE */
/* ---------- */

.row {
	/* border: 1px solid blue; */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
    float: left;
    /* padding: 15px; */
    /* border: 1px dashed green; */
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .widgets {
        margin-block: 0rem 0;
        /* text-align: center; */
        border: none;
        padding: none;
        margin: none;
        padding-inline: 1rem;
    }

    hr {
        display: none;
    }

    details {
        /* margin-top: 0rem; */
    }
} 