/* v1.1

/* root settings */

:root {
	/* column widths */
	--widthSidebar: 275px;
	--widthContent: 650px;

	/* general page and text colours */
	/* --colorPrimary: #9c5f2f; */
	--colorPrimary: #6d4a1b;
	--colorSecondary: #ceaf8a;
	--colorTertiary: #ba554e;

	--colorBackground: #d5b999;
	--colorText: #503a2b;

	/* fonts */
	--fontTitle: "Almendra", serif;
	--fontText: "Unna", serif;

	/* background image FOR ALL PAGES */
	--imageBackground: url(../img/art/brook.jpg);
}


/* global site structure */

* {
	box-sizing: border-box;
}

*::selection {
    background-color: var(--colorText);
    color: var(--colorBackground);
}

body {
	background-image: var(--imageBackground);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	color: var(--colorText);
	font-family: var(--fontText);
	/* font-size: 18px; */
}

h1, h2, h3, h4, h5, h6 {
	color: var(--colorPrimary);
	font-family: var(--fontText);
	margin-bottom: 0;
}

h1 {
	font-family: var(--fontTitle);
	color: var(--colorBackground);
	font-weight: normal;
	font-size: 120px;
	text-align: center;
	font-weight: bold;
	/* text-transform: uppercase; */
	/* font-style: italic; */
	margin: 0;

	position: relative;
	top: 50px;
	letter-spacing: -3px;

	z-index: -1;
}

h3 {
	font-size: 30px;
}

.page {
	max-width: var(--widthContent);
	padding: 1em;
	margin-top: 5rem;
	/* margin-left: 10%; */
	margin-inline: auto;
}


#HCB_comment_box {
	padding: 2rem;
	padding-top: 1rem;
	background-color: var(--colorBackground);
	border-radius: 1rem 1rem 0 0;
}

#hcb_form_website, #hcb_form_name, #hcb_form_content {
	font-family: "montserrat";
	font-size: 14px;
	padding: 8px;
	margin: 0;

	background-color: var(--colorSecondary);
	border: 1px solid var(--colorPrimary);
	border-radius: .3rem;
	color: var(--colorPrimary);
	
	resize: vertical;
}



a {
	font-weight: bold;
	color: var(--colorPrimary);

	transition: all .2s;
}


/* home button */

.home {
	font-size: 170%;
	text-decoration: none;
	line-height: normal;
	color: var(--colorBackground);

	display: inline-block;
	margin-inline: auto;

	text-align: center;
	display: block;
	--icon-size: 40px;
	height: var(--icon-size);
	width: var(--icon-size);
	border-radius: 100px;
	padding-top: 5px;

	position: relative;
	top: 40px;
} 

.home:hover {
	color: var(--colorTertiary)
}




/* COMMENT BOX BULLSHIT */
/* FROM DEBTDEATH'S CC-LINK TEMPLATE */

#HCB_comment_box h3 {
    display:none;
}

#HCB_comment_box #hcb_form textarea, #HCB_comment_box #hcb_form #hcb_form_name, #HCB_comment_box #hcb_form #hcb_form_website, #HCB_comment_box #hcb_form #hcb_form_email {
    -webkit-appearance: none;
    -webkit-text-fill-color: var(--colorText);
    color: var(--colorText);
    font-family: var(--fontText);
    font-size: 14px;
    padding: 8px;
    /* background-color: transparent; */
    border: var(--borderSolid);
    width: 100%;
}

#HCB_comment_box #HCB_comment_form_box {
    border-bottom: var(--borderDotted);
}

.hcb-wrapper > #hcb_form_name_container {
	width: 100%;
}

#HCB_comment_box #hcb_form #hcb_form_name_container {
  margin-right: 8px;
}

#hcb_form {
	margin-left: 8px;
}

#hcb_form > div {
	display: flex;
	justify-content: center;
}

#HCB_comment_box .hcb-wrapper-half {
    display:block;
    width:50%;
    float:left;
}
#HCB_comment_box .hcb-wrapper {
    clear:both;
}

/* the submit button */
#HCB_comment_box input.submit, #HCB_comment_box #hcb_form .btn, #HCB_comment_box #HCB_comment_form_box .btn {
  border: none;
  background-color: var(--colorPrimary);
  color: var(--colorBackground);
  font-family: var(--fontText);
  font-weight:bold;
  cursor:pointer;
  box-shadow: 0.5em 0.5em var(--colorBorder);
  border-radius: .3rem;
  
  
  padding-inline: 12px;
  padding-block: 6px;
}

#HCB_comment_box input.submit:hover{
	background-color: var(--colorTertiary);
	color: var(--colorBackground);
	box-shadow: none;
	/* transform: translate(0.5em,0.5em); */
}

.admin-link {
	margin-left: 1em;
	position: relative;
	top: 2px;
	display: none;
}

#HCB_comment_box #hcb_form .hcb-door-out {
    width: 16px;
}
#HCB_comment_box #hcb_form .hcb-door-in {
    width: 16px;
}

#HCB_comment_box .home-desc {
    text-align: left;
    display: none;
    flex-flow: row;
    align-items: baseline;
}

#HCB_comment_box span.home-desc {
  opacity:1;
}

#HCB_comment_box #hcb_form .home-desc a, #HCB_comment_box .home-desc a:visited {
    color: var(--colorTertiary);
    text-decoration: none;
}

/*file input i dont want this lol */

#HCB_comment_box input[type="file"]{
    display:none;
}
#HCB_comment_box input.inputfile{
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1
}
#HCB_comment_box input.inputfile+label {
    display: none;
}

#HCB_comment_box > a {
    display: none;
}

#HCB_comment_box #hcb_form textarea, #HCB_comment_box #hcb_form #hcb_form_name,
#HCB_comment_box #hcb_form #hcb_form_website,
#HCB_comment_box #hcb_form #hcb_form_email,
#HCB_comment_box #hcb_form .btn,
#HCB_comment_box #HCB_comment_form_box .btn,
#HCB_comment_box .home-desc,
#HCB_comment_box {
	font-family: var(--fontText) !important; 
}

#HCB_comment_box .hcb-comment-tb button,
#HCB_comment_box #hcb_form .home-desc a,
#HCB_comment_box .home-desc a:visited {
	color: var(--colorPrimary) !important;
}

.home-desc {
	text-transform: lowercase;
}



/* mobile */

@media screen and (max-width: 800px) {
	.page {
	}

	h1 {
		font-size: 14vw;
		top: 6.0vw;
	}

	.home {
		top: 8vw;
	}

	#HCB_comment_box {
		padding-inline: 1rem;
		padding-top: 0rem;
	}
}
