/* v1.1

/* root settings */

:root {
	/* column widths */
	--widthContent: 875px;

	/* general page and text colours */
	--colorBackground: #191713;
	--colorText: #ACAC95;

	/* accent colours */
	--colorPrimary: #474C40;
	--colorSecondary: #b19272;
	--colorTertiary: #715344;

	/* fonts */
	--fontText: 'El Messiri', serif;
	--fontHeader: 'Forum', serif;

	/* background image FOR ALL PAGES */
	--imageBackground: url(../img/art/birds.png);
	--imageFrame: url(../img/frame.png);
}


/* global site structure */

* {
	box-sizing: border-box;
}

body {
	background-color: var(--colorBackground);
	background-image: var(--imageBackground);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	color: var(--colorText);
	font-family: var(--fontText);
	line-height: 1.75em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--fontHeader);
	font-weight: bold;
	letter-spacing: 0.25em;
	text-transform: lowercase;

	text-transform: uppercase;
	font-weight: normal;

	color: var(--colorText);
	padding: 0.3em 30px 0.2em;
	margin-top: 50px;

	background-color: var(--colorPrimary);
	border-radius: 50px 0 50px 0;
	text-shadow: 1px 1px var(--colorBackground);
}

h1::after, h2::after, h3::after,
h4::after, h5::after, h6::after {
	content: "☉";
	margin-left: .5em;
	display: inline-block;
	
}

h1 {
	font-size: 180%;
}

p, li {
	font-size: 115%;
	line-height: 1.4em;
	margin-left: .5em;
}

.interests p {
	margin-block: .5em;
}

a {
	color: var(--colorTertiary);
	font-weight: bold;
	transition: .5s
}

a::after {
	content: "🔗";
	display: inline-block;
	font-size: .75em;
}

a:hover {
	color: var(--colorPrimary);
}

b {
	color: var(--colorSecondary);
}

.interests mark {
	text-transform: uppercase;
	background-color: var(--colorSecondary);
	color: var(--colorBackground);
	font-size: .75em;
	font-weight: bold;

	position: relative;
	top: -2px;

	line-height: 0;
	padding-inline: .6em;
	padding-block: .2em 0em;

	margin-right: .2em;

	border-radius: 0 .7em 0 .7em;
}

.page {
	background-color: var(--colorBackground);
	max-width: var(--widthContent);
	padding-inline: 5em;
	padding-block: 9em 5em;

	background-image: var(--imageFrame);
	background-repeat: repeat-x;
	background-size: 500px;

	margin-block: 5em;
	margin-left: 7vw;
}

a.home::after {
	content: none;
}

.home {
	display: inline-block;
	float: right;
	color: var(--colorTertiary);

	margin-top: .20em;
	margin-right: 1.5em;

	background-color: var(--colorBackground);
	border-radius: 500em;

	text-decoration: none;
	text-align: center;

	
	font-size: 125%;

	--icon-size: 33px;
	width: var(--icon-size);
	height: var(--icon-size);

	padding-top: .28rem;
}

a.home:hover {
	background-color: var(--colorSecondary);
	color: var(--colorBackground);
}



img {
	max-width: 350px;
}

#mii {
	position: relative;
	max-width: 220px;
	float: right;
	transition: all 1.5s;
}

#mii:hover {
	transform: scale(.1);
}




/* mobile */

@media screen and (max-width: 600px) {
	.home {
		
		font-size: 100%;

		--icon-size: 30px;
		width: var(--icon-size);
		height: var(--icon-size);

		padding-top: .25rem;
	}
	h1 {
		margin-top: 0.25em;
	}
	.page {
		padding: 1.5em;
		padding-top: 9.5em;
		margin-left:  0;
		margin-right: 0;
	}

	#mii {
		max-width: 150px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: 110%;
		letter-spacing: 0.1rem;
	}

	
	h1::after, h2::after, h3::after,
	h4::after, h5::after, h6::after {
		margin-left: .2em;
	}
	
}
